<a href="https://colab.research.google.com/github/NikethML/ANN-using-numpy/blob/master/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1:Write a Python program to create a set.

In [1]:
se1 = {1, 2, 3}
print(se1)

# set of mixed datatypes
set_mixed = {1.0, "Hello", (1, 2, 3)}
print(set_mixed)

{1, 2, 3}
{'Hello', 1.0, (1, 2, 3)}

Q2:Write a Python program to iteration over sets.

In [2]:
set1 = {"apple", "banana", "Mango"}

for x in set1:
  print(x)

apple
banana
Mango

Q3:Write a Python program to add a member(s) in a set.

In [6]:
name = {"niketh","Arjun"}
print(Name)
name.add("Doug")
print("Add single element : ",'Anikesh')
name.update(["Anikesh", "Aniket"])
print("Add multiple items : ",name)

{'niketh', 'Arjun'}
Add single element :  Anikesh
Add multiple items :  {'Aniket', 'Arjun', 'Anikesh', 'Doug', 'niketh'}

Q4:Write a Python program to remove item(s) from a given set.

In [9]:
set123 = {"apple", "banana", "mango"}

set123.remove("banana")

print(set123)

{'apple', 'mango'}

Q5:Write a Python program to remove an item from a set if it is present in the set

In [11]:
num_set = set([0, 1, 2, 3, 4, 5])
print(num_set)
num_set.discard(4)
print(num_set)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 5}

Q6:Write a Python program to find the maximum and the minimum value in a set.

In [14]:
setnew = {5, 10, 3, 15, 2, 20}
print(setnew)
print(type(setnew))
print("\nMaximum value of the said set:")
print(max(setnew))
print("\nMinimum value of the said set:")
print(min(setnew))

{2, 3, 5, 10, 15, 20}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2

Q7:Write a Python program to find the length of a set.

In [17]:
setabc = {'a', 'b', 'c'}
length = len(setabc)
print(f'Length of this set is {length}')

Length of this set is 3

Q8:Write a Python program to check if a given value is present in a set or not.

In [21]:
numbers = {1, 3, 5, 7, 9, 11,13,4,78,90}
print("Original set: ",numbers,"\n")
print("Test if 78 exists in nums:")
print(6 in nums)

Original set:  {1, 3, 4, 5, 7, 9, 11, 13, 78, 90}

Test if 78 exists in nums:
False